<h3>Update Person</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="person.fname" name="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="person.lname" name="lastName">
    </div>

    <div class="form-group">
        <label for="personType">Person Type</label>
        <select  class="form-control" id="personType" required [(ngModel)]="person.personType" name="personType">
            <option value="0" selected>Select Person Type</option>
            <option value="1" >Student</option>
            <option value="2" >Teacher</option>
        </select>
    </div>

    <div class="form-group">
        <label for="studentCode">Student Code</label>
        <input type="text" class="form-control" id="studentCode" required [(ngModel)]="person.studentCode" name="studentCode">
    </div>

    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="person.phoneNumber" name="phoneNumber">
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select  class="form-control" id="gender" required [(ngModel)]="person.gender" name="gender">
            <option value="0" selected>Select Gender</option>
            <option value="1" >Male</option>
            <option value="2" >Female</option>
            <option value="3" >Others</option>
        </select>
    </div>

    <div class="form-group">
        <label for="isUser">Is User</label>
        <input type="checkbox" class="form-control" id="isUser" required [(ngModel)]="person.isUser" name="isUser">isUser
    </div>

    <div class="form-group">
        <label for="gradeYear">Grade Year</label>
        <input type="text" class="form-control" id="gradeYear" required [(ngModel)]="person.gradeYear" name="gradeYear">
    </div>

    <div class="form-group">
        <label for="birthDate">Birth Date</label>
        <input type="date" class="form-control" id="birthDate" required [(ngModel)]="person.birthDate" name="birthDate">
    </div>

    <div class="form-group">
      <label for="emailId">Email</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="person.email" name="emailId">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" required [(ngModel)]="person.password" name="password">
      </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>